.UI {
	display: flex;
	flex-direction: column;
	gap: 24px;

	.SectionTitle {
		padding: 20px;
		text-align: center;
		width: 100%;
		background: var(--g-color-grey-900);
		color: var(--g-color-light);
	}
}