.ModalLayout {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	// backdrop-filter: blur(4px);
	// transition: 0.2s;

	.Overlay {
		position: absolute;
		inset: 0;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 500px;
			background: url(../../assets/images/top_elipse.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			animation: showElipse 0.2s ease-out;
		}
	}

	.Popup {
		position: relative;
		width: 100%;
		max-width: var(--modal-width, 600px);
		min-height: 300px;
		box-shadow: 0 0 15px 1px black;

		.Header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-transform: uppercase;
		}
	}
}

@keyframes showElipse {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes showOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}