.Aside {
	position: sticky;
	top: 16px;
	min-height: 500px;

	&.compact {
		.Menu {
			.Item {
				width: 48px;
			}
		}
	}

	.Menu {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.Item {
			display: flex;
			align-items: center;
			width: 168px;
			padding: 16px;
			line-height: 1;
			text-decoration: none;
			white-space: nowrap;
			color: var(--aside-menu-item-color, var(--g-color-grey-700));
			background: var(--aside-menu-item-bg, transparent);;
			border-radius: 6px;
			transition: color 0.2s, background 0.2s, width 0.2s;
			gap: 10px;
			cursor: pointer;

			.Caption {
				animation: 0.6s ease show;
			}

			.Icon {
				animation: 0.6s ease show;
				
				svg {
					display: block;
				}
			}

			&.Active {
				--aside-menu-item-color: var(--g-color-light);
				--aside-menu-item-bg: var(--g-color-primary-700);
				pointer-events: none;
			}

			&:hover {
				--aside-menu-item-color: var(--g-color-fill);
			}
		}
	}
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}