.Aside {
	position: sticky;
	top: 16px;

	&.compact {
		.Menu {
			.Item {
				width: 48px;
			}
		}
	}

	.Menu {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.Item {
			--button-width: 0;
			width: 168px;
			padding: 16px;
			line-height: 1;

			.caption {
				opacity: 0;
				animation: 0.6s ease 0.2s show forwards;
			}

			.Icon {
				animation: 0.6s ease show;
				
				svg {
					display: block;
				}
			}
		}
	}
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}