[data-theme='light'] {
	--color-scrollbar-thumb: var(--g-color-grey-900);
}

[data-theme='dark'] {
	--color-scrollbar-thumb: var(--g-color-grey-300);
}

* {
	&::-webkit-scrollbar {
    width: 2px;
    height: 100%;
    background-color: var(--g-color-background);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--g-color-background);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--g-color-primary-600);
  }
}