.TogglerTheme {
	--toggler-width: 80px;
	--toggler-height: calc(var(--toggler-width) / 2);
	--toggler-padding: 2px;
	--toggler-indicator-size: calc(var(--toggler-height) - 2 * var(--toggler-padding));

  position: relative;
  display: flex;
  align-items: center;
  width: var(--toggler-width);
  height: var(--toggler-height);
  padding: var(--toggler-padding);
	background: var(--toggler-bg, var(--g-color-warning-200));
  border-radius: var(--toggler-height);
  cursor: pointer;

	.Indicator {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: var(--toggler-indicator-size);
		height: var(--toggler-indicator-size);
		background: var(--toggler-indicator-bg, var(--g-color-warning-600));
		border-radius: 50%;
		box-shadow: 0 var(--toggler-padding) calc(var(--toggler-padding) * 4) rgba(0,0,0, .2);
		transition: transform .3s ease;

		.Icon{
			font-size: calc(var(--toggler-width)/4);
			color: var(--g-color-light);
		}
	}

	&.DarkMode {
		--toggler-bg: var(--g-color-grey-600);
		--toggler-indicator-bg: var(--g-color-grey-800);

		.Indicator{
			transform: translateX(var(--toggler-height)) rotate(360deg);
		}
	}
}

@keyframes spin{
  to {
    transform: rotate(360deg);
  }
}