@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

.Logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: var(--g-color-fill);
	gap: 6px;

	.Image {
		width: 48px;
		min-width: 48px;
		height: 48px;
		transition: 0.5s ease;
		
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.Caption {
		font-family: 'Nova Square', sans-serif;
		transition: 0.5s ease;
	}

	.Image,
	.Caption {
		animation: 0.6s ease show;
	}

	&:hover {
		.Image {
			transform: rotate(360deg);
		}

		.Caption {
			color: var(--logo-color);
		}
	}
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
