.actions_wrap {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 8px;

	&.group_buttons {
		.button {
			border-radius: 0 !important;
		}

		.button:first-of-type {
			border-top-left-radius: var(--button-border-radius) !important;
			border-bottom-left-radius: var(--button-border-radius) !important;
		}

		.button:last-of-type {
			border-top-right-radius: var(--button-border-radius) !important;
			border-bottom-right-radius: var(--button-border-radius) !important;
		}
	}

	&.wide {
		width: 100%;
	}

	&.no_wrap {
		flex-wrap: nowrap;

		> * {
			flex: 1;
		}
	}

	&.column {
		flex-flow: column nowrap;
	}

	&.space-between {
		justify-content: space-between;
	}

	&.center {
		justify-content: center;
	}

	&.no_space {
		gap: 0;
	}

	@for $j from 1 through 20 {
		&.gap_#{$j * 2 } {
			gap: #{$j * 2}px;
		}
	}
}