.App {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-areas: 'aside header' 'aside main';
	background: var(--g-color-background);
	color: var(--g-color-fill);
	padding: var(--g-page-padding);
	min-height: 100dvh;
	gap: 16px;
	align-items: start;

	aside {
		animation: 0.6s ease show;
		grid-area: aside;
	}

	header {
		animation: 0.6s ease show;
		grid-area: header;
	}

	main {
		grid-area: main;

		> * {
			animation: 0.6s ease show;
		}
	}
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}