@use '../default/brakepoints.scss' as *;

.App {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
	padding: var(--g-page-padding);
	gap: var(--g-page-gap);

	aside,
	header,
	main {
		> * {
			animation: 0.6s ease show;
		}
	}

	main {
		display: flex;
		flex-direction: column;
		gap: var(--g-page-gap);
		height: 100%;
	}

	@media ($md <= width) {
		display: grid;
		grid-template-areas: 'aside header' 
												'aside main';
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		align-items: flex-start;

		aside {
			grid-area: aside;
		}
	
		header {
			grid-area: header;
		}
	
		main {
			grid-area: main;
		}
	}
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}