.App {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	background: var(--g-color-background);
	color: var(--g-color-fill);
	padding: var(--g-page-padding);
	min-height: 100dvh;
	gap: 16px;
	align-items: start;
}