.link {
	--link-text-color: var(--g-color-grey-700);
	--link-hover-color: var(--g-color-grey-900);
	--link-text-size: 16px;
	--link-text-weight: 500;
	--link-icon-size: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 0px !important;
	font-size: var(--link-text-size);
	font-weight: var(--link-text-weight);
	text-decoration: none;
	white-space: nowrap;
	color: var(--link-text-color-state, var(--link-text-color)) !important;
	transition: 0.2s;
	gap: 4px;
	cursor: pointer;

	span {
		font-size: var(--link-text-size);
		font-weight: var(--link-text-weight);
	}

	.icon {
		font-size: var(--link-icon-size);

		svg {
			display: block;
		}
	}

	&:active,
	&:hover {
		--link-text-color-state: var(--link-hover-color);
	}

	&.active,
	&.Mui-selected {
		--link-text-color-state: var(--link-hover-color);
		pointer-events: none;
	}

	&:disabled,
	&.disabled,
	&[disabled] {
		pointer-events: none;
		opacity: 0.4;
	}	



	&.primary {
		--link-text-color: var(--g-color-primary-600);
		--link-hover-color: var(--g-color-primary-700);
	}

	&.success {
		--link-text-color: var(--g-color-success-500);
		--link-hover-color: var(--g-color-success-700);
	}

	&.danger {
		--link-text-color: var(--g-color-danger-600);
		--link-hover-color: var(--g-color-danger-700);
	}

	&.warning {
		--link-text-color: var(--g-color-warning-500);
		--link-hover-color: var(--g-color-warning-700);
	}

	&.info {
		--link-text-color: var(--g-color-info-500);
		--link-hover-color: var(--g-color-info-700);
	}

	&.light {
		--link-text-color: var(--g-color-grey-600);
		--link-hover-color: var(--g-color-grey-800);
	}

	&.dark {
		--link-text-color: var(--g-color-grey-800);
		--link-hover-color: var(--g-color-grey-900);
	}

	&.small {
		--link-text-size: 14px;
		--link-icon-size: 16px;
	}

	&.big {
		--link-text-size: 18px;
		--link-icon-size: 24px;
	}

	&.text_first {
		.icon {
			order: 1;
		}
	}
}