.panel_section {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 0;
	background: var(--g-color-panel);
	border-radius: 12px;
	gap: 20px;

	&.middle_section {
		min-height: 350px;
	}
	
	&.big_section {
		min-height: 600px;
	}

	&.no_padding {
		padding: 0;
	}

	.section_title {
		text-transform: uppercase;
	}

	> .header,
	> .content,
	> .footer {
		animation: 0.6s ease show;
	}

	> .header,
	> .footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		gap: 16px;

		&.center {
			justify-content: center;
		}
	}

	> .content {
		padding: 0 24px;
		flex: 1;

		&.no_padding {
			padding: 0;
		}
	}

	> .footer {
		margin-top: auto;
	}

	&.error {
		.content {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}