.panel_section {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 0;
	background: var(--g-color-panel);
	border-radius: 12px;
	gap: 20px;

	&.no_padding {
		padding: 0;
	}

	> .header,
	> .content,
	> .footer {
		animation: 0.6s ease show;
	}

	> .header,
	> .footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 24px;
		gap: 16px;

		&.center {
			justify-content: center;
		}
	}

	> .content {
		padding: 0 24px;

		&.no_padding {
			padding: 0;
		}
	}

	&.loading {
		overflow: hidden;

		&:after,
		&::before {
			content: '';
			position: absolute;
			top: -50%;
			height: calc(100% * 2);
			width: 0;
			box-shadow: 0px 0px 60px 30px var(--g-color-loader);
			transform: rotate(30deg);
		}

		&::after {
			animation: 2s ease-in-out 0s infinite loading;
		}

		&::before {
			animation: 2s ease-in-out  0.5s infinite loading;
		}
	}

	&.error {
		.content {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
}

@keyframes loading {
  from {
    left: -100%;
  }
  to {
    left: calc(200%);
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}