.table_section {
	min-height: 350px;
}

div.table_wrap {
	background: none;
	border-radius: 0;
	box-shadow: none;

	.row_link {
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			background: var(--g-color-panel-hover);
		}
	}

	th.table_cell,
	td.table_cell {
		padding: 8px;
		line-height: 1;
		font-size: 14px;
		color: var(--g-color-fill);
		border-bottom: none;

		&.head_cell {
			padding: 10px;
			text-transform: uppercase;
			color: var(--g-color-grey-600);
		}

		&.clickable {
			cursor: pointer;
		}

		&:first-child {
			padding-left: 24px;
		}

		&:last-child {
			padding-right: 24px;
		}

		&:not(:first-child) {
			text-align: right;

			> .content {
				align-items: flex-end;

				&.row {
					justify-content: flex-end;
				}
			}
		}

		> .content {
			display: flex;
			flex-direction: column;
			gap: 2px 6px;

			&.row {
				flex-direction: row; 
				align-items: center;
			}
		}
	}
}