.CoinsList {
	min-height: 422px;

	.TableWrap {
		background: none;
		border-radius: 0;
		box-shadow: none;
		
		.Table {
			.TableHead {
				.TableCell {
					padding: 10px;
					text-transform: uppercase;
					color: var(--g-color-grey-600);
				}
			}

			.TableBody {
				.TableCell {
					padding: 8px;
					color: var(--g-color-fill);
				}
			}

			.TableCell {
				line-height: 1;
				font-size: 14px;
				border-bottom: none;

				&:first-child {
					padding-left: 24px;
				}

				&:last-child {
					padding-right: 24px;
				}

				&:not(:first-child) {
					text-align: right;

					.Content {
						align-items: flex-end;
					}
				}
			}
		}

		.MainCell {
			display: flex;
			align-items: center;
			gap: 10px;

			.Favorite {
				font-size: 16px;
				cursor: pointer;
			}
			
			.Image	{
				width: 40px;
				min-width: 40px;
				height: 40px;
	
				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		.Content {
			display: flex;
			flex-direction: column;
			gap: 2px;
		}
	}
}